{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
    rel="stylesheet" type="text/css">
    
    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
    rel="stylesheet" type="text/css">
    
    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css"
    rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script>

	<title>
		Poor Man's Smart Home
	</title>
</head>
<body>	
	{% block  navbar  %}		
	{% endblock  %}
	<br>
	{% block info %}
	{% endblock %}
	<br>
	{% block  light %}
	{% endblock  %}
	<br>
	{% block  mic  %}
	{% endblock  %}
	<br>
	{% block  motion_detector %}
	{% endblock  %}
	<br>
	{% block  visual_motion %}
	{% endblock  %}
	<br>
	{% block  device_presence  %}
	{% endblock  %}
	<br>
	{% block  visual %}
	{% endblock  %}
	<br>
	{% block  estimation %}
	{% endblock  %}
	<br>
	{{ div    | safe }}

</body>

	{% block  script %}
	{% endblock  %}
</html>
