{% load static %}
{% get_static_prefix as STATIC_URL %}
<a href="{% url 'smart:index' %}">Home</a>
<br>
<a href="{% url 'smart:interface' 'device' %}">Device Presence</a>
<a href="{% url 'smart:interface' 'mic' %}">Mic</a>
<a href="{% url 'smart:interface' 'light' %}">Lights</a>
<a href="{% url 'smart:interface' 'motion' %}">Motion</a>
<br>
Current (as of {{ time }}) readings of the information sources are as follows:
<br>
The following lights has been found:<br>
{% for mykey,myvalue in light.items %}
    {{ mykey }} : {{ myvalue }} <br>
{% endfor %}

<br>
The microphone level is <br>
{% for mykey,myvalue in mic.items %}
    {{ mykey }} : {{ myvalue }} <br>
{% endfor %}
<br>
Motion sensor was triggered {{ light.65545 }} times during the last minute.
<br>
<br>
Visual motion is {{ motion.motion }}.
<br>
<br>
The state of devices is as follows: 
<br>
<br>
selim phone:  {{ device.selim_phone }}<br>
sonja phone:  {{ device.sonja_phone }}<br>
selim laptop: {{ device.selim_laptop }}<br>
sonja laptop: {{ device.sonja_laptop }}<br>
<br>
<br>
This is the latest visual from your home:<br>
<img src="{{STATIC_URL}}{{file.home_visual}}"  %} alt="My image" width="480"/>
<img src="{{STATIC_URL}}{{file.motion_energy}}"  %} alt="My image" width="480"/>
<br>
<br>
According to these sources of information, the probability that there is at least one
person at home is XXX.

