{% extends "base.html" %}
{% load custom %}

{% block navbar %}
	<div id=navbar>
		<a href="{% url 'smart:index' %}">Home</a>
		<br>
		<a href="{% url 'smart:interface' 'device' %}">Device Presence</a>
		<a href="{% url 'smart:interface' 'mic' %}">Mic</a>
		<a href="{% url 'smart:interface' 'light' %}">Lights</a>
		<a href="{% url 'smart:interface' 'motion' %}">Motion</a>
		<br>
	</div>
{% endblock %}


{% block info %}
	<div id=info>
		It is  {% now "SHORT_DATETIME_FORMAT" %}.<br>
	</div>
{% endblock %}


{% block light %}
	<div id=light>
 	<table style="width: 100%">
	    <colgroup>
	       <col span="1" style="width: 20%;">
	       <col span="1" style="width: 80%;">
	    </colgroup>
       
            <tr>
                <td>
		The following lights has been found:<br>
		{% for mykey,myvalue in light.items %}
		    {{ mykey }} : {{ myvalue.state|value_at_max }} <br>
		{% endfor %}
		        </td>
                <td>
    	{{ div.light_65538_state | safe }}
    	{{ div.light_65539_state | safe }}
    	{{ div.light_65541_state | safe }}
    	{{ div.light_65545_state | safe }}
    	{{ div.light_65546_state | safe }}
    	{{ div.light_65553_state | safe }}
	            </td>
            </tr>
        </table>
</div>
{% endblock %}


{% block mic %}	
	<div id=mic>
        <table style="width: 100%">
	    <colgroup>
	       <col span="1" style="width: 20%;">
	       <col span="1" style="width: 80%;">
	    </colgroup>
            <tr>
                <td>
		The microphone level is <br>
		{% for mykey,myvalue in mic.items %}
		    {{ mykey }} : {{ myvalue.state|value_at_max }} <br>
		{% endfor %}
                </td>
                <td>
        {{ div.mic_freq_0_state | safe }}
        {{ div.mic_freq_2_state | safe }}
        {{ div.mic_freq_4_state | safe }}
        {{ div.mic_freq_8_state | safe }}
        {{ div.mic_freq_14_state | safe }}
                </td>
            </tr>
        </table>
	</div>
{% endblock %}

{% block motion_detector %}
	<div id=motion_detector>
        <table style="width: 100%">
	    <colgroup>
	       <col span="1" style="width: 20%;">
	       <col span="1" style="width: 80%;">
	    </colgroup>
            <tr>
                <td>
	            	Motion sensor was triggered {{ light.65545.state|value_at_max }} times during the last minute.
                </td>
                <td>
                    {{ div.light_65545_state | safe }}
                </td>
            </tr>
        </table>
	</div>
{% endblock %}

{% block visual_motion %}
	<div id=visual_motion>
        <table style="width: 100%">
	    <colgroup>
	       <col span="1" style="width: 20%;">
	       <col span="1" style="width: 80%;">
	    </colgroup>
            <tr>
                <td>
            		Visual motion is {{ motion.motion.state|value_at_max  }}.
                </td>
                <td>
                    {{ div.motion_motion_state | safe }}
                </td>
            </tr>
        </table>
	</div>
{% endblock %}

{% block device_presence %}
	<div id=device_presence>
        <table style="width: 100%">
	    <colgroup>
	       <col span="1" style="width: 20%;">
	       <col span="1" style="width: 80%;">
	    </colgroup>
            <tr>
                <td>
            		The state of devices is as follows:<br>
            		selim phone:  {{ device_presence.selim_phone.state|value_at_max   }}<br>
            		sonja phone:  {{ device_presence.sonja_phone.state|value_at_max   }}<br>
            		selim laptop: {{ device_presence.selim_laptop.state|value_at_max  }}<br>
            		sonja laptop: {{ device_presence.sonja_laptop.state|value_at_max }}<br>
                </td>
                <td>
                    {{ div.device_presence_selim_laptop_state | safe }}
                    {{ div.device_presence_sonja_laptop_state | safe }}
                    {{ div.device_presence_selim_phone_state | safe }}
                    {{ div.device_presence_sonja_phone_state | safe }}
                </td>
            </tr>
        </table>
	</div>
{% endblock %}

{% block visual %}
	<div id=visual>
		This is the latest visual from your home:<br>
		<img src="{{STATIC_URL}}{{file.home_visual}}"  %} alt="My image" width="480"/>
		<img src="{{STATIC_URL}}{{file.motion_energy}}"  %} alt="My image" width="480"/>
		<br>
		<br>
	</div>
{% endblock %}

{% block estimation %}
	<div id=estimation>
	According to these sources of information, the probability that there is at least one
	person at home is XXX.
	</div>
{% endblock %}

{% block script %}
    {{ script | safe }} 
{% endblock %}
