{% load static %}
<a href="{% url 'smart:index' %}">Home</a>
<br>
<a href="{% url 'smart:interface' 'device' %}">Device Presence</a>
<a href="{% url 'smart:interface' 'mic' %}">Mic</a>
<a href="{% url 'smart:interface' 'light' %}">Lights</a>
<a href="{% url 'smart:interface' 'motion' %}">Motion</a>

<br>
The probability that there is currently at least somebody in your home is
NAN.
<br>
Current (as of XXX) readings of the information sources are as follows:
<br>
The following lights has been found:
XXXX
<br>
The microphone level is at XXX, compared to
<br>
Motion sensor found activity XXX minutes ago.
<br>
Device presence indicated that XXX oout of XXX devices are currently active.
<br>
According to these sources of information, the probability that there is at least one
person at home is XXX.
